<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TenantId" value="00000000-XXXX-0000000" />
        <add key="AccessKey" value="YourStorageAccountAccessKey" />
        <add key="ManifestURL" value="https://youradls.blob.core.windows.net/dynamics365-financeandoperations/yourenvvi.sandbox.operations.dynamics.com/Tables/Tables.manifest.cdm.json" />
        <add key="TranslateEnum" value ="true" />

        <add key="tablenames" value ="AssetBook" />
        <!--True: Output to console of sql statements without executing. False: executing sql statement in Snowflake-->
        <add key="TargetSnowflakeDryRun" value ="false" />
        <add key="TargetSnowflakeDbConnectionString" value ="account=XXXX.australia-east.azure;user=XXXX;password=XXXX;db=XXXX;schema=XXXX"/>
        <add key="TargetSnowflakeDbSchema" value ="XXXX" />
        <!-- Warehouse defined in the created tasks for copy data-->
        <add key="TargetSnowflakeWarehouse" value ="XXXX" />
        <!-- The Snowflake integation name for the Azure -->
        <add key="TargetSnowflakeExistingStorageIntegrationNameWithSchema" value="XXXX"/>
    </appSettings>
</configuration>